body {
    background-image: url("../images/lined-paper-note-powerpoint-background-5.jpeg");
    height: 960px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Pangolin', cursive;

}
nav {
    height: 42px;
    margin-bottom: 46px;
}
.navbar-h1 {
    font-weight: bolder;
    font-size: 50px;
    margin-left: -20px; 
}
nav a {
    text-decoration: none;
    color: red;
}
.container {
    margin-left: 140px;
}